body{
    font-family: 'Lemon', cursive;
}
@media  (max-width:1300px) {
     .carousel-inner img{
    /* height: 100vh; */
 } 
 #blog{
     width: 80%;
 }
}
.box{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

@media  (max-width:500px) {
 .box{
     flex-direction: column;
     margin-left: 30px;
 }


}

.navbar img{
height: 49px;
width: 121px
}
h2{
    text-align: center
}
.card{
    animation-name: example;
    animation-duration: 4s;
}


@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


.con {
    overflow: hidden;
    margin-top: 250px;
    background: #262626;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}

#btn{
    margin-left: 20px;
    /* display: none; */
}

.card img{
    height: 340px;
}


.card:hover {
    /* background-color: blue; */

    @keyframes example {
     0%{

     }
    }
}
li a{
    text-decoration: none;
    color:#989c9e;
}
button a{
    color: white;
    text-decoration: none;
}

#order{
    position: absolute;
    top: 200%;
    margin-left: 50%;
}
.navbar button a:hover{
    color: black;
}
#pho{
margin-top: 0%;
}
.navbar-toggler{
    display: none;
}
.butt{
    display: none;
}

@media (max-width:700px) {
    .butt{
        display: block;
    }
    .carousel-control-next, .carousel-control-prev {
        position: absolute;
        top: -286px;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12%;
    }
}
@media (max-width:400px) {
  
    .carousel-control-next, .carousel-control-prev {
        position: absolute;
        top: -140px;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12%;
    }
}


.btn-grad {background-image: linear-gradient(to right, #FF4E50 0%, #F9D423  51%, #FF4E50  100%)}
.btn-grad {
   margin-left:83px;
   margin-top: 20px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 
 .grad {background-image: linear-gradient(to right, #5f2c82 0%, #49a09d  51%, #5f2c82  100%)}
 .grad {
    margin: 1px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  #p{
      
      animation: kamal ;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      
  }
  @keyframes kamal {
    0%{
transform: translateX(500px);
    }
    100%{
        transform: translateX(0px);
            }
        }

        #bu {
            background-color: #61045fbe;
        }
     

         #bu:hover {
           background-position: right center; /* change the direction of the change here */
           color: #fff;
           text-decoration: none;
         }
        
 #color{
    background-color: #F9D423;
        }
         
        .artooze {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
        .artooze{
           margin: 1px;
           padding: 15px 45px;
           text-align: center;
           text-transform: uppercase;
           transition: 0.5s;
           background-size: 200% auto;
           color: white;            
           box-shadow: 0 0 20px #eee;
           border-radius: 10px;
           display: block;
         }

         .artooze:hover {
           background-position: right center; /* change the direction of the change here */
           color: #fff;
           text-decoration: none;
         }
        